@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif !important;
  transition: all .2s ease-in-out;
}

body {
  text-align: center;
  width: 90vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  gap: 2em;
  background-image: url(img/fleur.jpg) ;
  background-size: cover;
  animation: pulse 2s ease-in-out infinite;
}

h1 {
  color: #ffffff;
}

#game-container {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(var(--size, 10), 1fr);
}

.cell {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  border: 1px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  background: #f5f5f5;
}

.cell:hover {
  background-color: #dac77481;
}

p {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: large;
}